body {
    font-family: sans-serif;
}

header {
    background-color: violet;
}

main h1 {
    text-align: center;
    color: blue;
}

footer {
    background-color: aquamarine;
}

nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgrey;
}

nav a {
    margin: 60px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(90,90,90);
    border: 3px solid navy;
    border-radius: 10px;
    background-color: navy;
}

.popular {
    background-color: white;
    color: black;
}

select {
    padding: 10px;
    font-size: 20px;
    color: royalblue;
    border: 3px solid navy;
    border-radius: 10px;
    background-color: white;
}

.p {
    background-color: lawngreen;
}
